body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#physics-arena {

    width: 1000px;
    height: 800px;
    border: 1px solid black;
    position: relative;

}

#mine {
    width: 102px;
    height: 102px;
    border: 1px solid black;
    border-top: none;
}

.block {
    float: left;
    width: 20px;
    height: 20px;
    background-color: #ef0210;
    z-index: 10000;
}