body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#physics-arena {
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

#mine {
    position: absolute;
    top: 400px;
    left: 100px;
    z-index: 10000;
    width: 202px;
    height: 202px;
    border: 1px solid black;
    border-top: none;
}

.block {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #ef0210;
    z-index: 10000;
}

.block:hover {
    background-color: #EC6870;
}

#keep-bin {
    position: absolute;
    left: 626px;
    bottom: 117px;
    width: 161px;
    border: 1px solid gray;
    border-width: 0px 1px 1px 1px;
    border-color: gray;
    color: gray;
    padding: 100px;
    text-align: center;
}